
<div class="main-container">

  <div class="container">
    <h1>NEARBY YOU</h1>
      <div class="map-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://assets.website-files.com/5e832e12eb7ca02ee9064d42/5f7db426b676b95755fb2844_Group%20805.jpg')">
      </div>
  </div>

  <div class="container">
    <h1>YOUR SEARCH RESULTS</h1>
      <div class="cards">
      <% @listings.each do |listing| %>
        <% if listing.photo.attached? %>
        <%= link_to listing_path(listing), style: 'text-decoration: none; link-style: none; color: #455964;' do %>
        <div class="card">
          <img src="<%= cl_image_path listing.photo.key, height: 200, crop: :fill %>" />
          <div class="card-infos">
            <div>
              <h2><%= listing.title %></h2>
              </div>
            <h2 class="card-pricing">$99.99</h2>
            </div>
        </div>
        <% end %>
        <% else %>
          <div>
          <div class="card">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <div class="card-infos">
            <div>
              <h2><%= listing.title %></h2>
              </div>
            <h2 class="card-pricing">$99.99</h2>
            </div>
        </div>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  </div>

  <%# <h2>Most popular instruments</h2>
  <div class="cards">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">

    </div>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">

    </div>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">

    </div>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">

    </div>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">

    </div>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">

    </div>
 </div> %>
</div>

