<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>UPLOAD YOUR INSTRUMENT/SERVICE</h1>
      <%= render "form", listing: @listing %>
      <%= link_to "Back to home", root_path, class: 'btn btn-block btn-secondary' %>
    </div>
  </div>
</div>
