<div class="container">
  <h1>Upload your Instruments</h1>
  <h2><%= @listing.title %></h2>
  <p><%= @listing.description %></p>
  <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill %>
</div>
