<div class="footer">
  <div class="footer-copyright">
    Designed and built with all <i class="fas fa-heart"></i> by the MusicForLife team
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
