<h1>HomePage</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1>HomePage</h1>
<h1>HomePage</h1>

<div class=e2_84>
  <div class=e1_22>
    <div class=e1_8>
      <div class=e1_9>
        <div class="e1_10"></div>
      </div>
      <div class=e1_11>
        <div class="e1_12"></div>
        <div class=e1_13><span  class="e1_14">Rent your dream guitar tonight</span></div>
      </div>
      <div class="e3_50"></div>
      <div class=e2_91>
        <div class=ei2_91_2_15>
          <div class="ei2_91_2_16"></div><span  class="ei2_91_2_17">Find</span>
        </div>
      </div>
    </div>
    <div class=e1_40><span  class="e1_41">Sites</span><span  class="e1_42">Features BlaBla
Bla Bal</span><span  class="e1_43">©  Logo We love our users!</span><span  class="e1_45">Community</span><span  class="e1_46">Featured artists
The Portal
Live events</span><span  class="e1_47">Company</span><span  class="e1_48">About us
Contact us
History</span>
      <div class=e1_86><span  class="e1_87">Logo</span>
        <div class=e1_88>
          <div class="e1_89"></div>
          <div class="e1_90"></div>
        </div>
        <div class=e1_91>
          <div class="e1_92"></div>
          <div class="e1_93"></div>
        </div>
      </div>
      <div class="e1_52"></div>
      <div class="e1_99"></div>
      <div class=e1_78>
        <div class="e1_79"></div>
      </div>
      <div class=e1_76>
        <div class="e1_77"></div>
        <div class="e1_100"></div>
      </div>
      <div class=e1_72>
        <div class="e1_73"></div>
      </div>
    </div>
  </div>
</div>
