<div class="banner">
    <div class="container">
      <h1>MusicForLife</h1>
      <p>Your one-stop platform for music services and music instruments rental.</p>
      <br>
         <%= form_tag listings_path, method: :get, class: 'search-container' do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-field",
            placeholder: "What do you want to rent today?"
          %>
          <%= submit_tag "Search", class: "btn btn-music" %>
        <% end %>
        <%= link_to "EXPLORE NOW", listings_path, class: 'btn btn-home' %>
    </div>
 </div>

