.btn-primary {
  margin-bottom: 15px;
}

.btn-music {
 color: white;
 background-color: #e40e59;;
}

.btn-home {
 margin-top: 20px;
 color: white;
 background-color: #567ee2;;
}


.btn-home:hover {
 color: white;
 background-color: #88a7f7;
}

.btn-music:hover {
 color: white;
 background-color: #ff4155;
}

.btn-link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.btn-link:hover {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.fa-search:hover {
  text-decoration: none;
  color: white;
}
