.navbar-lewagon {
  justify-content: space-between;
  background: #F4F4F4;
  padding: 10px 20px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 35px;
}

.avatar {
  margin-left: 25px;
  height: 35px;
}
